class Passwords extends React.Component
{
    render()
    {
        passwords = this.props.passwords.map(function(password) {
            return( <Password password={password} /> );
            });

        return( <div> {passwords} </div> );
    }
}