<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fuse.js example</title> 
</head>
<body>
    <h2>Passwords JSON data</h2>
    <textarea id="json" cols="30" rows="10">
      
    </textarea>
    <h2>Search:</h2>
     <input class="form-control" id="searchTextbox" onclick="myFunction()"  placeholder="Search fuse..." type="text">
     <button onclick="myFunction()">Search</button>
    <div id="results"></div>
    <%= javascript_tag "passwords = #{@passwords.to_json.html_safe};" %>
    <script>
    var data = passwords;
    document.getElementById("json").value=JSON.stringify(data);

    function myFunction() {

        var options = {
            shouldSort: true,
            threshold: 0.1,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                    "title"
                  ]
        };
        
        var input, results;
        input = document.getElementById("searchTextbox");
            
        var fuse = new Fuse(data, options);
        var result = fuse.search(input.value);
        document.getElementById('results').innerHTML = "";
        for(i=0;i<result.length;i++){
            document.getElementById('results').innerHTML += JSON.stringify(result[i]);
            }
        }
    </script>
</body>
</html>