<% provide(:title, "Home") %>

<div class="container">
  <div class="jumbotron center">
    <div class="row">
      <div class="col-md-6 col-centered">
        <h2> My Passwords </h2>
        <%= link_to passwords_new_path, remote: true, id: "new_password_link" do %>
            <button class="btn btn-success">Add</button>
        <% end %>
      </div>
      <div class="col-md-6 col-centered form-pwd" id="password_form" style="display:none;"></div>
    </div>
  </div>

  <div class="passwords">
    <%= render @passwords %>
  </div>
</div>
<script>
  function pickPasswordBlock(e) {

    for(var i = 0; i < e.children.length; i++)
    {
      if (e.children[i].className == 'col-2')
      {
        var elCol = e.children[i];
        for(var j = 0; j < elCol.children.length; j++)
        {
          var title = elCol.children[j].id.split('-')[2];
          if(title == 'password' || title == 'username')
          {
            var el = $('#'+elCol.children[j].id);
            if(el.css('visibility') == 'hidden') {
              el.css('visibility', 'visible');
            }
            else {
              el.css('visibility', 'hidden');
            }
          }
        }
      }
    }
  }
</script>


