<% provide(:title, "Home") %>

<div class="container">
  <div class="jumbotron center">
    <div class="row">
      <div class="col-md-6 col-centered">
        <h2> My Passwords </h2>
        <%= link_to passwords_new_path, remote: true, id: "new_password_link" do %>
            <button class="btn btn-success">Add</button>
        <% end %>
      </div>
      <div class="col-md-6 col-centered form-pwd" id="password_form" style="display:none;"></div>
    </div>
  </div>

  <div class="passwords">
    <%= render @passwords %>
  </div>
</div>
<script>
  function markActiveLink(e) {
    alert(e.id);
  }
</script>


