<% provide(:title, "My Passwords") %>
<section id="pwdlocker" class='container'></section>
<%-# = react_component( 'PWDLocker', {passwords:@passwords, password_groups: @password_groups} ) -%>
<%= javascript_pack_tag 'pwdlocker' %>
