<div class='row'>
  <div class='col-md-6 offset-md-3 card card-block'>
    <h2>Sign in</h2>
    <p>Please sign in using your cellphone number.</p>

    <div class="form-group row">
      <label for="example-tel-input" class="col-md-3 col-form-label">Cellphone:</label>
      <div class="col-md-9">
        <input class="form-control" type="tel" value="" placeholder="+1 (234) 567 - 890" id="example-tel-input">
      </div>

    </div>

    <p><em>We will text you a secret token in SMS message. On next page you can use this secret token to sign in to <a href="/">pwdlocker.com</a></em></p>

    <input type='submit' value='Get token' class='btn btn-primary' />
  </div>

</div>