<div class='row'>
  <div class='col-md-6 offset-md-3 card card-block'>
    <h2>Secret token</h2>
    <p>This page serves secret token input for   <%= @phone_number %> </p>

    <%= @response.phone_number %> <br>
    <%= @response.national_format %> <br>
    <%= @response.country_code %>  <br>

    <p><em>Sign in to <a href="/">pwdlocker.com</a></em></p>
    
  </div>

</div>