<div class='row'>
  <div class='col-md-6 offset-md-3 card card-block'>
    <h2>Secret token</h2>
    <p>This page serves secret token... </p>

   

    <form  accept-charset="UTF-8" >

    <div class="form-group row">
      <label for="secret-token-input" class="col-md-3 col-form-label">Secret token:</label>
      <div class="col-md-9">
         <input class="form-control" name="secret_token" type="text" value="" placeholder="secret token" id="secret-token-input"> 
      </div>
     
    </div>
    
    <input type='submit' value='Send token' class='btn btn-primary' name = "submit" />
    </form>
    <br>
    <p><em>Sign in to <a href="/">pwdlocker.com</a></em></p>
    
  </div>

</div>