/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'passwords';

@import 'light-bootstrap-dashboard';

@import 'pe-icon-7-stroke';

* {
  box-sizing: border-box;
}

.glyphicon, .fa {
  color: rgba(57, 57, 57, 0.98);
}

body {
  margin: 0;
  padding: 0;

  background-color: transparent;
}

@media(max-width: $screen-xs-max){

}

@media(min-width: $screen-sm-min){

}


@media(min-width: $screen-md-min){
  html {


    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.cover.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='cover.jpg', sizingMethod='scale')";
  }
}

@media(min-width: $screen-lg-min){

}

.btn.btn-link {
  border: none;
}

.pointer {
  cursor: pointer;
}

.pointer-reset {
  cursor: auto;
}

img.favicon {
  vertical-align: top;
}

.password-search {
  width: 300px;
}
