/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background: asset-url('cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.cover.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='cover.jpg', sizingMethod='scale')";

  background-color: #fff;
}

.glyphicon, .fa
{
  color: rgba(57, 57, 57, 0.98);
}

body {
  background-color : #484848;
  margin: 0;
  padding: 0;

  // @include media-breakpoint-up(md) {
  //   padding-top: 5em;

  //   h1 {
  //     background-color: rgba(0,0,0,0.5);
  //     text-align: center;
  //     color: #fff;
  //   }
  // }
}


.list-passwords {
  list-style: none;
  padding: 30px 0;
  li {
    width: 570px;
  }
  .favicon  {
    float: left;
    margin: 10px 0;
    width: 32px;
  }
  .password-data {
    margin-left: 60px;
    display: block;
  }
  .password-edit-destroy{
    float: right;
    margin: 20px;
  }
  .col-favicon {
    width: 1px;
  }
}

table {
  table-layout: fixed;
  width: 100%;

  td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  }
}

.col-centered{
  float: none;
  margin: 0 auto;

}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.btn-success {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.table-passwords tbody td {
  text-align: center;
  font-size: 14px;
  color: white;
}

.table-passwords thead th {
  text-align: center;
  font-size: 14px;
  color: white;
}