/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color : #484848;
  margin: 0;
  padding: 0;
}

.table-passwords {
  padding-top: 10px;
}

table {
  table-layout: fixed;
  width: 100%;

  td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  }
}

.col-centered{
  float: none;
  margin: 0 auto;

}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.btn-success {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.table-passwords tbody td {
  text-align: center;
  font-size: 14px;
  color: white;
}

.table-passwords thead th {
  text-align: center;
  font-size: 14px;
  color: white;
}


